---
layout: default
title: Homepage
fruit:
  - title: Apple
    description: Delicious & Healthy
  - title: Pineapple
    description: Cool Decoration
  - title: Mango
    description: The very best
  - title: Pear
    description: Good with chocolate
news:
  - title: Big Sale
    description: Exciting things are happening in Mexico
    date: July 14, 2021
    category: Travel
    url: https://www.xcaret.com
  - title: The best watershoes
    description: See our review on the very best watershoes
    date: July 28, 2021
    category: Travel
    url: https://www.google.com
  - title: Flights to Los Cabos
    description: The life of the rich and famous
    date: July 1, 2021
    category: Travel
    url: https://www.loscabos.com
  - title: Dont miss these ruins
    description: The best Mayan and Aztec Ruins
    date: June 18, 2021
    category: Travel
    url: https://www.tulum.com
---



<section class='grid-spaceBetween mob-padded-0 padded bg-feature news'>
     
{% for item in page.news %}    


    <div class='col-4_xs-8 card'>
        <div class='bg-image'>
          <span>{{item.category}}</span>
        </div>

        <div class='post-info'>
          <p class='date'>{{item.date}}</p>
          <h3>{{item.title}}</h3>
          <p>{{item.description}}</p>
          <a href='{{item.url}}'>Read More &nbsp; &#8680;</a>
      </div>
    </div>

{% endfor %}    


  </section>
  





















<!-- THIS IS A VERY BASIC LOOP -->
<!-- <section>


    {% for item in .page.fruit %}
    <div class='card'>
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
    </div>
    {% endfor %}

    
    <!-- <div class='card'>
        <h2>Apple</h2>
        <p>Delicious and healthy</p>
    </div>

    <div class='card'>
        <h2>Pineapple</h2>
        <p>Cool decoration</p>
    </div>

    <div class='card'>
        <h2>Mango</h2>
        <p>The very best.</p>
    </div>

    <div class='card'>
        <h2>Pear</h2>
        <p>Good with chocolate.</p>
    </div> -->
</section> -->

